.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header h2 {
  font-size: 2.3rem;
  color: #f6f8fa;
  border: double #3d5ce6;
  padding: 8px;
}
