@import "base/calculator";
@import "base/Header";
@import "base/home";
@import "base/navbar";
@import "base/quotes";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
}

body {
  background-image: url("../images/math-bck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #faf5f5;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
}
