@import "base/calculator";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
}

body {
  background-color: #070707;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
